<div class="timer-container">
  <button class="start-button timer">Start</button>
</div>

<style>
  .timer {
    position: relative;
    font-size: 64px; /* Aumentado el tamaño de la fuente */
    color: #ffcc00;
    margin-top: 10px;
  }

  .start-button {
    background-color: #333;
    text-align: center;
    border-radius: 50%;
    height: 500px;
    width: 500px;
  }

  .start-button:hover {
    background-color: #ffe135;
    transform:scale(1.05);
  }

  .timer:hover{
    color: #333;
  }
</style>


<script>
  const button = document.querySelector('.start-button');
  const timer = document.querySelector('.timer');
  let interval: NodeJS.Timeout;

  button?.addEventListener('click', () => {
    if (interval) {
      clearInterval(interval); // Detener el temporizador actual si está en funcionamiento
    }
    
    let count = 60 * 5;
    interval = setInterval(() => {
      count--;
      const minutes = Math.floor(count / 60).toString().padStart(2, '0');
      const seconds = (count % 60).toString().padStart(2, '0');
      const text = `${minutes}:${seconds}`;
      if (timer) {
        timer.innerHTML = text;
      }
      if (count <= 0) {
        clearInterval(interval);
      }
    }, 1000);
  });
</script>
